@import url('https://fonts.googleapis.com/css?family=Comfortaa');

body{
    margin: 20px;
    font-family: 'Comfortaa', cursive;
    display: block;
}

fieldset{
    margin-top: 20px; 
    margin-bottom: 20px; 
    margin-left: 40px; 
    margin-right: 40px; 
}
div { 
    display: block;
}

.bus{
    border: 1px solid black;
    width: 70%;
    height: 150px;
    background: #83B5FF;
    -moz-border-radius: 20px; 
    -webkit-border-radius: 20px; 
    border-radius: 20px;
    margin:30px;
}

legend{
    font-size: 20px;
    padding: 5px;
    margin-left: 5px;
}

.estilo-select select {
    font-family: 'Comfortaa', cursive;
    background: transparent;
    background-image: none;
    box-shadow: none;
    width: 100%;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 34px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

option{
    font-family: 'Comfortaa', cursive;
}

.estilo-select{
    margin: 20px;
    margin-bottom: 25px;
    font-family: 'Comfortaa', cursive;
    width: 90%;
    height: 34px;
    overflow: hidden;
    background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
    border: 1px solid #ccc;
}

h1{
    font-family: 'Comfortaa', cursive;
    color:#3F8BFD;
    text-align: center;
    font-size: 40px;
    font-style: bold;
}

h2{
    font-family: 'Comfortaa', cursive;
    text-align: center;
    font-size: 20px;
}

